USE [master]
GO

/****** Object:  Database [CineV]    Script Date: 28-02-2018 19:58:40 ******/
CREATE DATABASE [CineV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CineV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\CineV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CineV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\CineV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CineV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO

USE [CineV]
GO

USE [CineV]
GO
/****** Object:  Table [dbo].[Carro]    Script Date: 28-02-2018 19:55:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carro](
	[NCarro] [int] IDENTITY(1,1) NOT NULL,
	[Codig] [int] NULL,
	[Fecha] [varchar](20) NULL,
 CONSTRAINT [pkNCarroCarro] PRIMARY KEY CLUSTERED 
(
	[NCarro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comuna]    Script Date: 28-02-2018 19:55:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comuna](
	[Codigo] [varchar](6) NOT NULL,
	[CodigoR] [varchar](6) NULL,
	[Nombre] [varchar](25) NULL,
 CONSTRAINT [PKCodigoComuna] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Entrada]    Script Date: 28-02-2018 19:55:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entrada](
	[NBoleto] [int] IDENTITY(1,1) NOT NULL,
	[NFun] [int] NULL,
	[NRecep] [varchar](25) NULL,
	[Precio] [int] NULL,
	[EstVen] [int] NULL,
 CONSTRAINT [pkNBoletoEntradas] PRIMARY KEY CLUSTERED 
(
	[NBoleto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estreno]    Script Date: 28-02-2018 19:55:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estreno](
	[Id] [varchar](6) NOT NULL,
	[DescripcionE] [varchar](30) NULL,
 CONSTRAINT [PkEstrenoId] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EsVen]    Script Date: 28-02-2018 19:55:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EsVen](
	[Id] [int] NOT NULL,
	[Descripcion] [varchar](20) NULL,
 CONSTRAINT [PKIdEsVen] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Factura]    Script Date: 28-02-2018 19:55:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[NFactura] [int] IDENTITY(1,1) NOT NULL,
	[NVen] [int] NULL,
	[Total] [int] NULL,
 CONSTRAINT [PkNFacturaFactura] PRIMARY KEY CLUSTERED 
(
	[NFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Funcion]    Script Date: 28-02-2018 19:55:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funcion](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[NombreF] [varchar](25) NULL,
	[CodPel] [int] NULL,
	[SalaId] [varchar](6) NULL,
	[Estreno] [varchar](6) NULL,
	[Dia] [varchar](50) NULL,
	[HoraI] [varchar](15) NULL,
	[HoraT] [varchar](15) NULL,
	[Precio] [int] NULL,
 CONSTRAINT [PKCodigoFuncion] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gene]    Script Date: 28-02-2018 19:55:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gene](
	[Id] [varchar](6) NOT NULL,
	[DescripcionG] [varchar](30) NULL,
 CONSTRAINT [PkIdGene] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Idioma]    Script Date: 28-02-2018 19:55:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Idioma](
	[Id] [varchar](6) NOT NULL,
	[DescripcionI] [varchar](30) NULL,
 CONSTRAINT [PkIdIdioma] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pelicula]    Script Date: 28-02-2018 19:55:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pelicula](
	[IdPelicula] [int] IDENTITY(1,1) NOT NULL,
	[NombreP] [varchar](50) NULL,
	[Genero] [varchar](6) NULL,
	[Idioma] [varchar](6) NULL,
	[Director] [varchar](50) NULL,
	[Sinopsis] [varchar](max) NULL,
	[Imagen] [image] NULL,
 CONSTRAINT [pkIdPeliculasPelicula] PRIMARY KEY CLUSTERED 
(
	[IdPelicula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Region]    Script Date: 28-02-2018 19:55:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Region](
	[Codigo] [varchar](6) NOT NULL,
	[Nombre] [varchar](25) NULL,
 CONSTRAINT [PKCodigoRegion] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sala]    Script Date: 28-02-2018 19:55:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sala](
	[IdSala] [varchar](6) NOT NULL,
	[Sucur] [varchar](6) NULL,
	[NSala] [numeric](18, 0) NULL,
	[Tipo] [varchar](25) NULL,
	[Asientos] [int] NULL,
 CONSTRAINT [PkIdSalaSala] PRIMARY KEY CLUSTERED 
(
	[IdSala] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubCarri]    Script Date: 28-02-2018 19:55:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubCarri](
	[Nsc] [int] IDENTITY(1,1) NOT NULL,
	[NBoleto] [int] NULL,
	[Carr] [int] NULL,
 CONSTRAINT [pkNscSubCarri] PRIMARY KEY CLUSTERED 
(
	[Nsc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sucursal]    Script Date: 28-02-2018 19:55:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sucursal](
	[CodigoCine] [varchar](6) NOT NULL,
	[NombreS] [varchar](50) NULL,
	[Direccion] [varchar](50) NULL,
	[Comuna] [varchar](6) NULL,
 CONSTRAINT [PKCodigoCineSucursal] PRIMARY KEY CLUSTERED 
(
	[CodigoCine] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo]    Script Date: 28-02-2018 19:55:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo](
	[Codigo] [varchar](15) NOT NULL,
	[DescripcionT] [varchar](20) NULL,
 CONSTRAINT [pkCodigoCargo] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 28-02-2018 19:55:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Correo] [varchar](40) NULL,
	[Contraseña] [varchar](15) NULL,
	[Nombre] [varchar](50) NULL,
	[Tipo] [varchar](15) NULL,
 CONSTRAINT [PKIdUsuario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Carro]  WITH CHECK ADD  CONSTRAINT [fkCodigCarro] FOREIGN KEY([Codig])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Carro] CHECK CONSTRAINT [fkCodigCarro]
GO
ALTER TABLE [dbo].[Comuna]  WITH CHECK ADD  CONSTRAINT [FKCodigoRComuna] FOREIGN KEY([CodigoR])
REFERENCES [dbo].[Region] ([Codigo])
GO
ALTER TABLE [dbo].[Comuna] CHECK CONSTRAINT [FKCodigoRComuna]
GO
ALTER TABLE [dbo].[Entrada]  WITH CHECK ADD  CONSTRAINT [fkEstVenEntrada] FOREIGN KEY([EstVen])
REFERENCES [dbo].[EsVen] ([Id])
GO
ALTER TABLE [dbo].[Entrada] CHECK CONSTRAINT [fkEstVenEntrada]
GO
ALTER TABLE [dbo].[Entrada]  WITH CHECK ADD  CONSTRAINT [fkNFunEntrada] FOREIGN KEY([NFun])
REFERENCES [dbo].[Funcion] ([Codigo])
GO
ALTER TABLE [dbo].[Entrada] CHECK CONSTRAINT [fkNFunEntrada]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FkNVenFactura] FOREIGN KEY([NVen])
REFERENCES [dbo].[Carro] ([NCarro])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FkNVenFactura]
GO
ALTER TABLE [dbo].[Funcion]  WITH CHECK ADD  CONSTRAINT [FKCodPelFuncion] FOREIGN KEY([CodPel])
REFERENCES [dbo].[Pelicula] ([IdPelicula])
GO
ALTER TABLE [dbo].[Funcion] CHECK CONSTRAINT [FKCodPelFuncion]
GO
ALTER TABLE [dbo].[Funcion]  WITH CHECK ADD  CONSTRAINT [fkEstrenoFuncion] FOREIGN KEY([Estreno])
REFERENCES [dbo].[Estreno] ([Id])
GO
ALTER TABLE [dbo].[Funcion] CHECK CONSTRAINT [fkEstrenoFuncion]
GO
ALTER TABLE [dbo].[Funcion]  WITH CHECK ADD  CONSTRAINT [fkSalaIdFuncion] FOREIGN KEY([SalaId])
REFERENCES [dbo].[Sala] ([IdSala])
GO
ALTER TABLE [dbo].[Funcion] CHECK CONSTRAINT [fkSalaIdFuncion]
GO
ALTER TABLE [dbo].[Pelicula]  WITH CHECK ADD  CONSTRAINT [FKGeneroPelicula] FOREIGN KEY([Genero])
REFERENCES [dbo].[Gene] ([Id])
GO
ALTER TABLE [dbo].[Pelicula] CHECK CONSTRAINT [FKGeneroPelicula]
GO
ALTER TABLE [dbo].[Pelicula]  WITH CHECK ADD  CONSTRAINT [FKIdiomaPelicula] FOREIGN KEY([Idioma])
REFERENCES [dbo].[Idioma] ([Id])
GO
ALTER TABLE [dbo].[Pelicula] CHECK CONSTRAINT [FKIdiomaPelicula]
GO
ALTER TABLE [dbo].[Sala]  WITH CHECK ADD  CONSTRAINT [FKSucurSala] FOREIGN KEY([Sucur])
REFERENCES [dbo].[Sucursal] ([CodigoCine])
GO
ALTER TABLE [dbo].[Sala] CHECK CONSTRAINT [FKSucurSala]
GO
ALTER TABLE [dbo].[SubCarri]  WITH CHECK ADD  CONSTRAINT [FkCarrSubCarri] FOREIGN KEY([Carr])
REFERENCES [dbo].[Carro] ([NCarro])
GO
ALTER TABLE [dbo].[SubCarri] CHECK CONSTRAINT [FkCarrSubCarri]
GO
ALTER TABLE [dbo].[SubCarri]  WITH CHECK ADD  CONSTRAINT [FkNBoletoSubCarri] FOREIGN KEY([NBoleto])
REFERENCES [dbo].[Entrada] ([NBoleto])
GO
ALTER TABLE [dbo].[SubCarri] CHECK CONSTRAINT [FkNBoletoSubCarri]
GO
ALTER TABLE [dbo].[Sucursal]  WITH CHECK ADD  CONSTRAINT [FKComunaSucursal] FOREIGN KEY([Comuna])
REFERENCES [dbo].[Comuna] ([Codigo])
GO
ALTER TABLE [dbo].[Sucursal] CHECK CONSTRAINT [FKComunaSucursal]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FKCargoUsuario] FOREIGN KEY([Tipo])
REFERENCES [dbo].[Tipo] ([Codigo])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FKCargoUsuario]
GO
